.nav-align {
    padding: 20px 5px;
    background: #fff;
}

.a-link {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.a-link:hover {
    color: rgb(56, 56, 177);
}

.button {
    background: linear-gradient(90deg, #57007B 0%, #F76680 100%);
    color: #fff;
    border-radius: 5px;
    padding: 8px 20px;
}

.button:hover {
    background: linear-gradient(90deg, #F76680 0%, #57007B 100%);
}

/* -------------------------------------- */

/* Hero */

.hero-heading {
    font-size: 35px;
    line-height: 50px;
    font-weight: 300;
}

.software {
    color: #b43c7e;
}

.built {
    font-weight: 900;

}

.teams {
    color: #b43c7e;
    font-weight: 900;
}

.p-hero {
    font-size: large;
    padding: 0 140px 0 0;
    margin-bottom: 52px;
}

.hero-btn {
    background: #57007B;
    color: #fff;
    border-radius: 5px;
    padding: 19px 30px;
}

.hero-btn:hover {
    background: #3a0452;
}

.hero-round {
    padding-left: 420px;
}

/* Services */

.services {
    background: #F9F9FF;
    padding-top: 50px;
}

.serv-heading {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.cards-heading {
    font-size: 20px;
    font-weight: 600;
}

.card-border {
    margin-top: 50px;
    bor
}

.gradient-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    background: linear-gradient(90deg, #57007B 0%, #F76680 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.gradient-border {
    position: relative;
    background: linear-gradient(90deg, #57007B 0%, #F76680 100%);
    padding: 3px;
    /* Adjust the thickness of the gradient border */
    border-radius: 8px;
    /* Optional: Rounds the corners of the border */
}

.gradient-border .card-body {
    background-color: #fff;
    /* Background color for the card content */
    border-radius: 5px;
    /* Should be slightly less than the outer border radius */
    padding: 15px;
    height: 100%;
}

.gradient-border img {
    border-radius: 5px;
    /* Make sure the image corners align with the card body */
}

.image-container {
    width: 58px;
    /* Set the width and height to match the desired size of the image */
    height: 58px;
    border: #000;
    /* background: linear-gradient(90deg, #57007B 0%, #F76680 100%); */
    padding: 5px;
    /* Adjust the thickness of the gradient border */
    border-radius: 50%;
    /* Make the container circular */
    display: inline-block;
    /* Align container with image */
    border: 2px solid black;
}

.gradient-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* Make the image circular */
    display: block;

}

.carousel-indicators button {
    background-color: black;
}

.carousel-indicators .active {
    background-color: #b23a7e;
}


/* About Us  */


.abt-round {
    padding-left: 340px;
    margin-top: -15px;
}

.abt-heading {
    font-size: 35px;
    font-weight: 400;
    line-height: 55px;
}

.abt-subheading {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

.abt-sub-color {
    color: #c5467f;
}

.see-more {
    color: #57177b;
    font-size: 18px;
    font-weight: 600;
    padding-top: 12px;
}

.abt-arrow {
    display: flex;
    align-items: center;
    gap: 5px;
}

.abt-btm {
    padding-top: 100px;
}

.abt-btm-head {
    font-size: 35px;
    line-height: 55px;
}

.abt-round-btn {
    text-align: end;
    padding: 150px 30px 0 0;
}

.abt-round-btm {
    padding-left: 800px;
}

.clients {
    background-color: #f7f7fa;
    display: flex;
    margin: 0;
    padding: 50px 0px;
    gap: 60px;
    justify-content: center;

    text-align: center;
}

.test-container {
    margin-top: 150px;
    text-align: center;
}

.test-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    line-height: 55px;
}

.test-sub-box {
    text-align: center;
    font-weight: 400;
    line-height: 36px;
}

.comma-left {
    padding-left: 350px;
}

.comma-right {
    padding-right: 350px;
}

/* -------------Case Studies----------------- */

.case-studies-bg {
    background: #f7f7fa;
}

.case-studies-img {
    margin-top: -150px;
}

.case-studies-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    line-height: 55px;
}

.cs-bg-1 {
    background: #f1f2ff;
    border-radius: 10px;
}

.cs-bg-2 {
    background: #f0fff7;
    border-radius: 10px;
}

.cs-bg-3 {
    background: #fff4f4;
    border-radius: 10px;
}

.cs-cd-heading {
    font-size: 28px;
    font-weight: 600;
    line-height: 38.09px;
}

.cs-cd-subheading {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
}

.cs-cta {
    text-align: end;
    color: #b23a7e;
    font-weight: 600;
}

.cs-cta-2 {
    font-size: 20px;
    text-align: end;
    color: #b23a7e;
    font-weight: 600;
}

@media (max-width: 576px) {

    /* Styles for small devices and larger */
    .a-link {
        color: #fff;
    }

    .button {
        background: #57007B;
        color: #fff;
        border-radius: 5px;
        padding: 8px 20px;
    }

    .menu {
        background: linear-gradient(90deg, #57007B 0%, #F76680 100%);
        padding-bottom: 20px;
        padding-left: 20px;

    }

    .hero-heading {
        padding-right: 80px;
        padding-left: 20px;
    }

    .p-hero {
        padding: 0 20px;
        margin-bottom: 30px;

    }

    .hero-btn {
        border-radius: 5px;
        padding: 10px 10px;
        margin-left: 20px;

    }

    .hero-round {
        padding-left: 260px;

    }

    .hero-round-img {
        width: 60%;
    }

    /* Services  */

    .services {
        background: #F9F9FF;
        padding-top: 20px;
    }

    .serv-heading {
        font-size: 25px;
        font-weight: 700;
    }

}

@media (min-width: 768px) {

    /* Styles for medium devices and larger */
    .nav-align {
        padding: 20px 50px;
    }

    .hero-heading {
        font-size: 55px;
        line-height: 70px;
        font-weight: 300;
    }
}

@media (min-width: 992px) {
    /* Styles for large devices and larger */
}

@media (min-width: 1200px) {
    /* Styles for extra large devices and larger */
}